soapService/src/main/resources/equation-solver.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://akmedvedev.dev/equation/solver"
           xmlns="http://akmedvedev.dev/equation/solver"
           elementFormDefault="qualified">

    <xs:element name="EquationSolverRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="a" type="xs:double"/>
                <xs:element name="b" type="xs:double"/>
                <xs:element name="c" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="EquationSolverResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="formula" type="xs:string"/>
                <xs:element name="D" type="xs:double"/>
                <xs:element name="x1" type="xs:double"/>
                <xs:element name="x2" type="xs:double" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="EquationException">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="message" type="xs:string"/>
                <xs:element name="formula" type="xs:string"/>
                <xs:element name="D" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
